    <!-- START: Main Container -->
<style>
.mail-subject{
    margin-top:1%;
}
</style>      




            <div class="content-wrap">  <!--START: Content Wrap-->
                
                <div class="row">
                     
                    <div class="col-md-11">
                        <div class="panel">
                            <div class="panel-body no-padding">
                                

                                
                                <div class="content-panel">


                                    
                                    <div class="mails-wrapper"> <!-- Start: Mail List -->
                                        
                                        <ul class="list-mail-item" ng-repeat="contact in contacts">
                                            
                                            <li class="mail-item un-read col-md-12">
                                                

                                                
                                                <div class="star-container"></div>
                                                
                                                <div class="mail-from col-md-2">
                                                    <img class="hidden-xs" src="demo/users/img-user-02.jpg" alt="">
                                                      {{contact.civilite}} {{contact.nom}} {{contact.prenom}}
                                                </div>
                                                
                                                <div class="mail-subject col-md-2">
                                                    <span class="subject"><a href="#">{{contact.email}}</a></span>
                                                </div>

                                             <div class="mail-subject col-md-2" >
                                                    <span class="subject"><a href="#">{{contact.date_de_naissance}}</a></span>
                                                </div>

                                             <div class="mail-subject col-md-3" >
                                                    <span class="subject"><a href="#">{{contact.adresse}}.</a></span>
                                                </div>
       
                                                <div class="time-container" >
                                                <label ng-show="contact.user_id!='null'"" class="label label-success">
                                                        <a href="#" >Membre</a></label>
                                               
                                                </div>                                         
    
                                                
                                            </li>
                                            

                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button"  class="btn btn-primary btn-circle btn-xl"><i class="fa fa-user-plus" aria-hidden="true"></i></button>


                </div>
                    
                
            </div>  <!--END: Content Wrap-->
            
