        <div  class="main-container">    <!-- START: Main Container -->
            
            <div class="content-wrap">  <!--START: Content Wrap-->
                
                <div class="row">
                     
                    <div class="col-md-11">
                        <div class="panel">
                            <div class="panel-body no-padding">
                                

                                
                                <div class="content-panel">


                                    
                                    <div class="mails-wrapper"> <!-- Start: Mail List -->
                                        
                                        <ul class="list-mail-item">
                                            
                                            <li class="mail-item un-read">
                                                

                                                
                                                <div class="star-container"></div>
                                                
                                                <div class="mail-from">
                                                    <img class="hidden-xs" src="demo/users/img-user-02.jpg" alt="">
                                                    Cynthianawen
                                                </div>
                                                
                                                <div class="mail-subject">
                                                    <span class="subject"><a href="msg-mail-view.php">Lorem ipsum dolor noretek imit set.</a></span>
                                                </div>

                                                
                                                <div class="time-container">
                                                 <div class="btn-group">
                                                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button" aria-expanded="false"> <span class="fs-menu-3"></span></button>
                                                <ul class="dropdown-menu   pull-right	">
                                                    <li><a href="#">Mark as read</a></li>
                                                    <li><a href="#">Mark as unread</a></li>
                                                    <li><a href="#">Mark as important</a></li>
                                                    <li><a href="#">Mark as not important</a></li>
                                                    <li><a href="#">Add to star</a></li>
                                                </ul>
                                            </div>
                                                </div>
                                                
                                            </li>
                                            

                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary btn-circle btn-xl"><i class="fa fa-user-plus" aria-hidden="true"></i></button>

                </div>
                    
                
            </div>  <!--END: Content Wrap-->
            
        </div>  <!-- END: Main Container -->