        <div class="animatedParent">
            <div class="row">
                
                <div class="col-md-4 col-sm-4 hidden-xs">
                    

                </div>
                
                <div class="col-xs-12 col-md-4 col-sm-6 col-lg-4">
                    
                    <div class="blue-line sm normal"></div>
                    
                    <div class="signup-box">
                        <div class="logo"><img src="assets/images/logo-c.png" alt="" style="height: 70px;"></div>
                        
                        <form>
                            
                            <div class="form-group">
                                <input type="email" name="email" class="form-control" placeholder="Email"> 
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </div>
                            
                            <div class="form-group">
                                <input type="text" name="User Name" class="form-control" placeholder="User Name">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </div>
                            
                            <div class="form-group">
                                <input type="password" name="password" class="form-control" placeholder="Password">
                                <i class="fa fa-lock" aria-hidden="true"></i>
                            </div>
                            
                            
                            <button href="#" type="submit" class="btn btn-primary btn-block">Crée un Compte</button>

                        </form>
                        

                    </div>
                    
                    <br>
                    <div class="signup-box">
                        <p class="signac animated flipInX">Vous avez un compte? <a  ng-href="#!/login">Connectez vous</a></p>
                    </div>
                    
                    <div class="blue-line lg normal"></div>
                </div>
            </div>
        </div>